<%= form_for(@article) do |f| %>
<% if @article.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
  <ul>
    <% @article.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="ui form">
  <h4 class="ui dividing header">Personal Information</h4>
  <div class="one fields">
    <div class="field">
      <div class="fields">
        <div class="field">
          <%= f.text_field :name, :placeholder => "Article Title"%>
        </div>
        <div class="field">
          <%= f.text_field :category, :placeholder => "Category" %>
        </div>
        <div class="field">
          <%= f.text_field :tags, :placeholder => "Tags" %>
        </div>
        <div class="field">
          <%= f.text_field :date, :value => Time.now%>
        </div>
        <div class="field">
          <%= f.select :language, ['German', 'English'], {}, { :class => 'ui search dropdown' } %>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <%= f.check_box :public %>
            <label>Article Public</label>
          </div>
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui form">
      <div class="field">
        <%= f.text_area(:content, size: '700x300') %>
      </div>
    </div>
  </div>
  </div>    <div class="ui hidden divider"></div>
  <%= f.submit "Update" , :class => 'ui button' %>
  <% end %>
  <script type="text/javascript">$('.ui.checkbox')
  .checkbox();
  $('select.dropdown')
  .dropdown()
  ;</script>