<div class="ui centered grid">
  <div class="twelve wide column">
    <h1>bMalum's Blog</h1>
    <% if is_user?("writer") %>
    <%= link_to 'New Article', new_article_path %>
    <% end %>
    <% @articles.each do |article| %>
    <% if article.public %>
    <h3 class="ui top green attached header">
    <%= link_to article.name, article %>
    </h3>
    <div class="ui attached segment">
      <p>
      <%= markdown(article.content).split("<!--PageBreak-->").first.html_safe %>
          <%= link_to "Read more ...", article , :class => "ui  green right ribbon label" %>
        </p>
      <br>
      <div class="ui bottom attached stacked mini label">
        <div class="ui centered grid">
          <div class="three wide column">
            <%= article.date.strftime("%F")  %></div>
          <div class="three wide column">
            <%= article.category %></div>
          <div class="four wide column">
            <%= article.tags %></div>
          <div class="two wide column">
            <% if is_user?("writer") || is_user?("admin") %>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <% end %></div>
          <div class="two wide column">
            <% if is_user?("admin") %>
            <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
    <br>
  </div><div class="four wide column">
  <h1>&nbsp;</h1>
  <h4 class="ui top green attached header">Hier könnte ihre Werbung stehen</h4  >
  <div class="ui loading attached segment">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
</div>
</div>

