<div class="ui piled segment">
  <h2 class="ui header">
  <%= @article.name %>
  </h2>
  <p>
  <a class="ui right ribbon  label">
    <%= @article.category %>
  </a>
  <%= markdown(@article.content) %>
  <a class="ui tag label">
    <%= @article.tags %>
  </a>
  <div class="ui bottom right attached label">
    <%= @article.date.strftime("%F %T") %>
  </div>
  </p>
</div>


<% if @article.comments.size > 0 %>
<h2>Comments</h2>
<% for comment in @article.comments %>
<div class="ui comments">
  <div class="comment">
    <a class="avatar">
      <img src="http://lorempixel.com/400/300/">
    </a>
    <div class="content">
      <a class="author"><%= comment.name %></a>
      <div class="metadata">
        <div class="date">2 days ago</div>
        <div class="rating">
          <i class="star icon"></i>
          5 Faves
        </div>
      </div>
      <div class="text">
        <%= comment.content %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<h3>New Comment</h3>
<%= form_for [@article, Comment.new] do |f| %>
<div class="ui reply form">
        <div class="field">
<p><%= f.label :name %> <%= f.text_field :name %></p>
</div>
        <div class="field">
<p><%= f.text_area :content, :rows => 10 %></p>
        </div>
        <p><%= f.submit "Send", :class => "ui primary submit labeled icon button" %></p>
<% end %>
</div>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>


<script type="text/javascript">
$(document).ready(function() {
$('pre code').each(function(i, block) {
hljs.highlightBlock(block);
});
});
</script>