<table class="ui green table">
<thead>
<tr>
<th>e-Mail</th>
<th>Password Salt</th>
<th>Password Hash</th>
<th>Roles</th>
<th>Action</th>
</tr></thead>
<tbody>
<tr>
<%= form_for(@user) do |f| %>
  <td>
	<div class="ui form">
		<div class="inline field">
  			<%= f.email_field :email %>
  		</div>
  	</div>
  </td>
    <td>
	<div class="ui  form">
		<div class="inline field">
  			<%= f.text_field :password_hash %>
  		</div>
  	</div>
  </td>
    <td>
	<div class="ui  form">
		<div class="inline field">
  			<%= f.text_field :password_salt %>
  		</div>
  	</div>
  </td>
    <td>
	<div class="ui  form">
		<div class="inline field">
  			<%= f.text_field :role_as_string %>
  		</div>
  	</div>
  </td>  
  <td><%= f.submit "Update", :class => "ui orange button" %>
<% end %>
</div>
</tr>
</tbody>
</table>