<h1> test </h1>
<% if @user.blank? %>
<p>There are not any Users currently in the system.</p>
<% else %><p>
<%= @user.email %><br>

<%= @user.password_hash %><br>

<%= @user.role %></p>

<% end %>

<p><br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</p>